<div class="home__hero">
  <h1>Gutenberg <br> Project</h1>
</div>

<ul class="home__categories">
  <li class="home__categories__item">
    <a (click)="loadCategory('fiction')" class="home__categories__item-link">
      <div>Fiction</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="fiction">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('drama')" class="home__categories__item-link">
      <div>Drama</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="drama">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('humor')" class="home__categories__item-link">
      <div>Humor</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="humor">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('politics')" class="home__categories__item-link">
      <div>Politics</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="politics">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('philosophy')" class="home__categories__item-link">
      <div>Philosophy</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="philosophy">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('history')" class="home__categories__item-link">
      <div>History</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="history">
    </a>
  </li>
  <li class="home__categories__item">
    <a (click)="loadCategory('adventure')" class="home__categories__item-link">
      <div>Adventure</div>
      <img 
        srcset="assets/drawable-xhdpi/ic_right_arrow.png 1x, 
                assets/drawable-xxhdpi/ic_right_arrow.png 2x,
                assets/drawable-xxxhdpi/ic_right_arrow.png 3x"
        src="assets/drawable-hdpi/ic_right_arrow.png" 
        alt="adventure">
    </a>
  </li>
</ul>